/* Reseteo de márgenes y paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fondo negro para toda la aplicación */
body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/* Estilos para el AppBar */
.MuiAppBar-root {
  background-color: #1a1a1a; /* Gris oscuro para el AppBar */
}

/* Estilos para el Toolbar */
.MuiToolbar-root {
  display: flex;
  justify-content: center;
}

/* Estilos para el Typography en el Header */
.MuiTypography-h6 {
  color: #ffffff; /* Texto blanco */
}

/* Estilos para las Card */
.MuiCard-root {
  background-color: #1a1a1a; /* Fondo negro para las tarjetas */
  color: #ffffff; /* Texto blanco */
  border: 1px solid #333333; /* Borde gris oscuro */
}

/* Estilos para las imágenes dentro de las Card */
.MuiCardMedia-root {
  border-bottom: 1px solid #333333; /* Línea de separación */
}

/* Estilos para los títulos en las Card */
.MuiTypography-h5 {
  color: #ffffff; /* Texto blanco */
}

/* Estilos para el contenido de las Card */
.MuiTypography-body2 {
  color: #b0b0b0; /* Texto gris claro */
}

/* Estilos para los botones en las Card */
.MuiButton-root {
  color: #ffffff; /* Texto blanco */
  border: 1px solid #ffffff; /* Borde blanco */
  margin: 8px;
}

.MuiButton-root:hover {
  background-color: #333333; /* Fondo gris oscuro al pasar el ratón */
}

/* Espaciado en el contenedor principal */
.MuiContainer-root {
  padding: 16px;
}
